<header>

<nav> 
    <a href="/">Abstract eSports</a>
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/Profiles/new">Games</a></li>
        <li><a href="/Profiles/new">Ladders</a></li>
        <li><a href="/Profiles/new">Tournaments</a></li>
        <li><a href="/Profiles/new">League</a></li>
        <li><a href="/Profiles/new">PostBoard</a></li>
        <li><a href="/Profiles/new">Match Finder</a></li>
        <li><a href="/Profiles/new">Leaderboards</a></li>
        <li><a href="/Profiles/new">Support</a></li>
        <li><a href="/Profiles/new">Store</a></li>
        <li><a href="/Profiles/new">Searcher</a></li>

    <ul>
</nav>

</header>